<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.khit.web.mapper.BoardMapper">
 	<!-- 글쓰기 -->
 	<insert id="insert">
 		insert into boards(boardtitle, userid, boardcontent) 
 		values(#{boardTitle}, #{userId}, #{boardContent} )
 	</insert>
 	
 	<select id="findAll" resultType="com.khit.web.dto.BoardDTO">
 		select * from boards order by id desc;
 	</select>
 
 	<select id="findById" resultType="com.khit.web.dto.BoardDTO">
 		select * from boards where id = #{id}
 	</select>
 	
 	<update id="updateHit">
		update boards set hit = hit + 1 where id = #{id}
 	</update>
 	
 	<delete id="delete">
 		delete from boards where id= #{id}
 	</delete>
 	
 	<update id="update">
 		update boards set boardtitle = #{boardTitle}, boardcontent = #{boardContent}, updatedtime = now() where id = #{id}
 	</update>
 	
 	<select id="pagingList" resultType="com.khit.web.dto.BoardDTO"> <!-- boardDTO말고 ReplyDTO -->
 		select * from boards order by id desc limit #{start}, #{limit};
 	</select>
 	
 	<select id="boardCount" resultType="Integer">
 		select count(id) from boards;
 	</select>
 	
 </mapper>
  