<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.khit.web.mapper.UserMapper">
 	<insert id="insert">
 		<!-- insert into users(userId, userPasswd, userName, userAge)  -->
 		insert into users(userid, userpasswd, username, userage)
 		values(#{userId}, #{userPasswd}, #{userName}, #{userAge} )
 	</insert>
 	
 	<select id="findAll" resultType="com.khit.web.dto.UserDTO">
 		select * from users;
 	</select>
 	
 	<select id="findById" resultType="com.khit.web.dto.UserDTO">
 		select * from users where id = #{id}
 	</select>
 	
 	<!-- 로그인 처리 -->
 	<select id="login" resultType="com.khit.web.dto.UserDTO">
 		select * from users where userid = #{userId} and userPasswd = #{userPasswd}
 	</select>
 	
 	<!-- 회원 정보 수정 -->
 	<select id="findByUserId" resultType="com.khit.web.dto.UserDTO">
 		select * from users where userid = #{userId}
 	</select>
 	
 	<!-- 회원 정보 수정 처리  // void라 반환값이 없으므로 resultType 안해두됨 -->
 	<update id="update">
 		update users set userpasswd = #{userPasswd}, username = #{userName}, userage = #{userAge} where id = #{ id }
 	</update>
 	
 	<!-- 회원정보 삭제 >> userlist.jsp -->
 	<delete id="delete">
 		delete from users where id = #{id}
 	</delete>
 </mapper>
 